.movies-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
}

.movie-card {
  border-radius: 20pt;
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: flex-end;
}

.movie-card {
  position: relative;
  color: white;
  transition: transform 0.2s;
}
.movie-card:hover {
  transform: scale(0.9);
}

.movie-card h1 {
  font-size: 3rem;
  color: rgb(241, 75, 75);
}

.movie-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20pt;
  border: 1pt solid rgb(0, 213, 241);
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.movie-card h1,
.movie-card p {
  position: relative;
  z-index: 2;
}
