.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  color: rgb(13, 83, 92);
}

.filters {
  align-self: center;

  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
