.movies-cards {
  width: 70%;
}

.movie-card {
  border-radius: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 750px;
  position: relative;
  color: white;
  border: 2pt solid black;
  transition: transform 0.2s;
}
.movie-card:hover {
  transform: scale(0.9);
}

.movie-card h1 {
  font-size: 2.5rem;
  color: rgb(241, 75, 75);
  padding: 0px 20px;
}

.movie-card .overview p {
  padding: 20px;
  font-size: 1rem;
}
.movies-cards .genres {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
  flex-wrap: wrap;
  font-style: italic;
  color: #00eeff;
  z-index: 2;
  font-size: 0.5rem;
}

.movie-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20pt;
  border: 1pt solid rgb(0, 213, 241);
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.movie-card h1,
.movie-card p {
  position: relative;
  z-index: 2;
}
